@font-face {
  font-family: myFirstFont;
  src: url("./assets/JandaManateeSolid.ttf");
}

@media only screen and (orientation:portrait){
  #wrapper { display:none; }
  #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
  #warning-message { display:none; }
}

body {
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.modal {
  /* background-image: url("./assets/complete_window.png"); */
}

.WarningMessage {
  text-align: center;
  background-size: cover;
  margin-top: 100px;
}

.App {
  text-align: center;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  font-family: myFirstFont;
  color: white;
}

.roseButton {
  background-image: url("./assets/Group 20.png");
  width: 254px;
  height: 104px;
  background-size: cover;
  margin: auto;
  padding: auto;
  font-size: 48px;
  display: flex;
}

.roseButton p {
  margin: auto;
}

.pinkButton {
  background-image: url("./assets/Group 26.png");
  width: 254px;
  height: 104px;
  background-size: cover;
  margin: auto;
  padding: auto;
  font-size: 48px;
  display: flex;
}

.pinkButton p {
  margin: auto;
}

.purpleButton {
  background-image: url("./assets/Group 22.png");
  width: 254px;
  height: 104px;
  background-size: cover;
  margin: auto;
  padding: auto;
  font-size: 48px;
  display: flex;
}

.purpleButton p {
  margin: auto;
}

.grayButton {
  background-image: url("./assets/Group 24.png");
  width: 254px;
  height: 104px;
  background-size: cover;
  margin: auto;
  padding: auto;
  font-size: 48px;
  display: flex;
}

.grayButton p {
  margin: auto;
}